body {
  font-family: monospace;
  background-color: #e2fffd;
}

#container {
  /* display: flex;
  height: 75vh;
  width: 75vh;
  background-color: lightgrey; */
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  margin: 100px auto;
  border: 1px solid black;
  display: flex;
  /* flex-direction: ; */
  /* flex-wrap: wrap-reverse; */
}
#container div {
  border: 1px solid lightgrey;
  box-sizing: border-box;
  border-radius: 50%;
}

#div1 {
  height: 30px;
  width: 30px;
  background-color: #ff9bc9;
  /* flex-shrink: 0; */
  /* order: 3; */
}
#div2 {
  height: 40px;
  width: 40px;
  background-color: #df8eff;
  /* justify-content: space-around; */
  /* flex-grow: 1; */
}

#div3 {
  height: 50px;
  width: 50px;
  background-color: #91dcff;
  /* flex-grow: 2; */
}

#div4 {
  height: 60px;
  width: 60px;
  background-color: #93ff99;
  /* flex-grow: 3; */
  /* order: 1; */
}
#div5 {
  height: 70px;
  width: 70px;
  background-color: #dfff89;
  /* flex-shrink: 2; order: 2; */
}
#div6 {
  height: 80px;
  width: 80px;
  background-color: #ffdf8e;
  /* flex-shrink: 2; */
}

#lightbox {
  position: fixed;
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 2s ease-in-out;
}
#lightbox:target {
  height: 30%;
  width: 30%;
  top: 25%;
  left: 20%;
  background-color: greenyellow;
}

.div1 {
  width: 100px;
  height: 100px;

  margin-left: 40%;
  background-color: #91dcff;
  /* transform: scale(1.5, 0.4); */
  /* transition: 1s steps(4, end); */
  /* transition: 1s ease; */
  /* transition: 1s ease-in; */
  transition: 1s ease-in-out;
}
.div1:hover {
  transform: scale(0.5) translate(150px) rotate(-360deg);
  border-radius: 50%;
  /* transform:wrap-reverse(360deg) */
}

/* @keyframes changeShape {
  from {
    border-radius: 0%;
  }
  to {
    border-radius: 50%;
  }
} */
@keyframes changeShape {
  0% {
    border-radius: 0%;
  }
  25% {
    border-radius: 15%;
  }
  50% {
    border-radius: 25%;
  }
  100% {
    border-radius: 50%;
  }
}
.div2 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40%;
  left: 40%;
  background-color: dodgerblue;
  /* animation: name duration timing-function delay iteration-count direction
    fill-mode; */
  animation: changeShape 2s ease-in-out infinite alternate-reverse backwards;
}
