.box {
  width: 32%;
  margin: 0.44%;
  height: 300px;
  display: inline-block;
}

.div1 {
  background-color: #ff8989;
}
.div2 {
  background-color: #88f7ce;
}
.div3 {
  background-color: #e29df2;
}

@media screen and (max-width: 600px) {
  .box {
    width: 100%;
    margin: 0;
    height: 330px;
    display: block;
  }
}
@media screen and (max-width: 300px) {
}
