/* To apply all the boxes size same or constant  we need to use Universal Slelector
tO APPLY FOR PSEUDO ELEMTS USE..  */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} /* This is the Universal Box selctor */
/* This will not aapply pseudo element  */
/* body {
  margin: 10px;
} */

/* .box::before {
  content: "Hello"; PSEUDO ELEMENT 
} */
/* .box {
  width: 100px;
  height: 100px;
  background-color: gold;
  display: inline-block;
} */
img {
  width: 100%;
}
p {
  color: dimgray;
}

#blog-title {
  color: darkslategray;
  /* height: 400px; */
  font-size: 3.2rem;
}
#blog-content {
  /* width: 1000px; */
  /* width: 90vh; */
  font-size: 1.1rem;
  word-spacing: 1px;
  line-height: 1.4;
}
.h-style {
  color: darkslategray;
}
h1.h-style {
  font-family: sans-serif;
}
h4.h-style {
  font-family: monospace;
  font-size: 1.33rem;
}
.header-link a {
  color: black;
  size: 28px;
  font-family: sans-serif;
  font-weight: bold;
}
.header-link a:hover {
  color: orange;
}

/* #DIV1 {
  height: 200px;
  width: 200px;
  background-color: slateblue;
  /* types of colour specifier: name, hex, hsl,rgb,rgba,hsla
} */
main {
  border: 5px dashed #ff6060;
  border-left: none;
  border-radius: 50px 50px 50px 50px;
}
#site-title a {
  text-decoration: none;
  height: 1.25rem;
  font-size: 1.8rem;
}

#blog-content .sources a {
  text-decoration: none;
}

#blog-content .sources a:hover {
  color: #000000;
}

#body {
  margin-left: 50px;
  margin-right: 20px;
}
#main-header {
  margin: 60px;
}
main {
  width: 70%;
  display: inline-block;
}

#cn-logo-image {
  width: 210px;
}

/* Aside */
.widget {
  border-top: 4px solid black;
}
.widget input {
  display: block;
  padding: 4px;
  background: color #f7f7f7;
  margin-bottom: 15px;
  color: black;
  font-size: 1.2rem;
}
#subscribe-form input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#subscribe-form label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700px;
}
.sub-btn {
  background-attachment: fixed;
  background-color: black;
  color: white;
  font-size: 0.8rem;
  border: dashed;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  font-family: serif;
  border-radius: 8px;
  border-color: tomato;
  border-style: inset;
  word-spacing: 2px;
}
.sub-btn[type="submit"]:hover {
  background-color: #dc6520;
}

.widget-title {
  font-size: 1.5rem;
}
aside {
  display: inline-block;
  width: 18%;
  vertical-align: top;
}

/* social section */
.social {
  position: fixed;
  top: 25%;
  left: 0;
  line-height: 1;
}

.social .social-btn {
  display: block;
  padding: 15px 14px;
  /* color: #ffffff; */
}

.social .social-img {
  width: 20px;
}

#facebook {
  background-color: #3b5998;
}

#facebook:hover {
  background-color: #2d4373;
}

#linkedin {
  background-color: #0077b5;
}

#linkedin:hover {
  background-color: #00121c;
}

#twitter {
  background-color: #83c3f3;
}

#twitter:hover {
  background-color: #55acee;
}

#gmail {
  background-color: #dd4b39;
}

#gmail:hover {
  background-color: #c23321;
}

#whatsapp {
  background-color: #6ba92f;
}

#whatsapp:hover {
  background-color: #528124;
}
#email {
  background-color: #ff5c46;
}
#email:hover {
  background-color: #791a0d;
}

.search-btn {
  width: 13%;
  margin-left: -6px;
  padding: 5px;
  border-radius: 0 5px 5px 0;
}
#search-btnimage {
  width: 2.9vh;
  vertical-align: -2.8px;
  background-color: #000000;
}

#search {
  display: inline;
  width: 87%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
  height: 31px;
}

#line {
  margin-top: 30px;
  margin-bottom: 40px;
  border-top: 4px solid black;
}

#recent-post a {
  color: yellowgreen;
}
#recent-post a:hover {
  color: blue;
}

#recent-comments a {
  color: yellowgreen;
}
#recent-comments a:hover {
  color: blue;
}
#categories a {
  color: yellowgreen;
}
#categories a:hover {
  color: blue;
}
